// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

// fonts

$Heboo-fonts: 'Heebo', sans-serif;

//color
$white-color:white;
$black-color:black;


